<a href="https://colab.research.google.com/github/Lolwhocaresaboutmyname/python_training/blob/main/list_tester2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Home Assignments:

In [10]:
student = {
    "name": "Anish",
    "age": "14",
    "grade": "9",
    "class": "9C",
    "electives": "Digi Tech and Theatre"
}
print(student[""])

Digi Tech and Theatre

In [7]:
student["grade"] = 6
print(student)

{'name': 'Anish', 'age': '14', 'grade': 6}